.HomeBanner .background-img {
  background-image: url("images/homebanner-glasses.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  max-width: 100%;
}

.HomeBanner h1 {
  color: #142d4c;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  font-weight: 300;
  padding-top: 200px;
  text-align: center;
}

.HomeBanner p {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  text-align: center;
  background: rgb(225, 225, 225, 0.8);
  padding: 10px;
}
