.Mission .background-img {
  background-image: url("images/glasses-mission.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  max-width: 100%;
}

.Mission h1 {
  color: #142d4c;
  font-family: "Abril Fatface", cursive;
  font-size: 80px;
  font-weight: 100;
  padding: 10px 10px;
  text-align: left;
}

.Mission .card {
  background: linear-gradient(90deg, #bed1a0 50%, #c8e6e0 50%);
  padding-bottom: 60px;
}

.Mission .title {
  color: #142d4c;
  border-radius: 10px;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: 100;
  margin: 30px 0;
  text-align: center;
}

.Mission p {
  font-family: "Roboto Mono", monospace;
}
