.ShopSwap .background-img {
  background-image: url("images/shop-glasses1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  max-width: 100%;
}
.ShopSwap .individual-results {
  margin: 10px 0;
  padding: 30px 40px;
}

.ShopSwap .glasses-detail {
  margin: 100px 0;
}
.ShopSwap h1 {
  color: #22437c;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  font-weight: 300;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 30px;
  text-align: left;
}

.ShopSwap h2 {
  color: #22437c;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  font-weight: 300;
  margin: 30px 0;
}

.ShopSwap small {
  font-size: 70px;
}

.ShopSwap p {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  font-size: 30px;
  padding-left: 30px;
}
.ShopSwap img {
  border-radius: 10px;
}

.ShopSwap .shop-details {
  background: #f5b36a;
}

.ShopSwap .group-results {
  background: #b3b975;
}
