.Shop {
  padding: 0;
}

.Shop .background-img {
  background-image: url("images/shop-glasses1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  max-width: 100%;
}

.Shop .glasses-detail {
  margin-top: 80px;
  margin-bottom: 80px;
}
.Shop h1 {
  color: #142d4c;
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  font-weight: 300;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 30px;
  text-align: left;
}

.Shop h2 {
  color: #142d4c;
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: 300;
  padding: 50px 0 5px 0;
}

.Shop small {
  font-size: 70px;
}

.Shop p {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  font-size: 30px;
  padding-left: 30px;
}

.Shop .btn-branding {
  background: #142d4c;
  padding: 10px 25px;
  margin-top: 40px;
  color: white;
  transition: all 100ms ease-in-out;
}

.Shop .btn-branding:hover {
  opacity: 0.6;
}

.Shop .dropdown-btn {
  background: #142d4c;
  padding: 10px 25px;
  margin-top: 10px;
  color: white;
  transition: all 100ms ease-in-out;
}

.Shop img {
  max-width: 100%;
  border-radius: 10px;
  border: 10px solid white;
}

.Shop .shop-details {
  background: #efecda;
}

.Shop .group-results {
  background: #bed1a0;
  border-radius: 5px;
}

.Shop .individual-results {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  margin: 10px 0;
  padding: 30px 40px;
  padding-right: 50px;
}

.Shop .first-img {
  margin-top: 110px;
}

.Shop .light {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  background: #e0e9d8;
}

.Shop .dark {
  border: 1px solid white;
  background: #c6d5c6;
}

.Shop .dark-view {
  background: #142d4c;
  border: 1px solid white;
}

.Shop .view-btn {
  font-family: "Roboto Mono", monospace;
  background: #142d4c;
  border: none;
  padding: 50px 40px;
  color: white;
  transition: all 100ms ease-in-out;
  text-decoration: underline;
}

.Shop .view-btn:hover {
  opacity: 0.6;
}
